.container {
  display: flex;
  flex-direction: column;
  padding: 33px;
  margin: 0 auto;
  background-color: antiquewhite;
  height: auto;
  width: 600px;
}
.wrapper {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
